.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.credits-section {
  color: white;
  background-color: grey;
}

.credit-text {
  color: white;
}

/* CAROUSEL begins here*/
.carousel-item {
  position: relative;

}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item .btn {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 175px;
}

.carousel-item .btn:hover {
  background-color: black;
}

.caro-main {
  height: auto;
}

.caro-slide {
  height: 710px;
  width: auto;
}
/* CAROUSEL ends here */


/* TIMELINE begins here */
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* TIMELINE ends here */

/* ZOOM starts here */
.fluid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  line-height: 1.3;
  font-size: 16px;
}

.fluid__instructions {
  flex: 0 0 auto;
  margin: 0 20px;
}

.fixed__instructions {
  flex: 1;
  margin: 0 20px;
}

a {
  color: black;
}

a:hover {
  color: #666;
}

.code {
  font-family: Courier New, Courier, monospace;
}

@media (min-width: 480px) {
  .fluid {
    flex-direction: row;
  }

  .fluid__image-container{
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
  }

  .fluid__instructions {
    flex: 0 0 50%;
    padding-top: 30px;
  }

  .fixed__instructions {
    padding-top: 30px;
    margin: 0 10px;
  }

  .portal {
    position: absolute;
    top: 40px;
    left: -30px;
  }
}
/* ZOOM ends here */

.list-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #eeeeee;
}

.close-icon {
  padding-top: 1%;
  font-size: 1.5em;
}
.close-icon:hover {
  padding-top: 1%;
  font-size: 1.5em;
  cursor: pointer;
  color: grey;
}

.delete-icon:hover {
  cursor: pointer;
  color: grey;
}

.login-outter {
  background-color: #a6a6a6;
  display: flex;
  height: 80vh;
}

.login-inner {
  background-color: white;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
}

.new-user {
  cursor: pointer;
  color: rgb(21, 127, 251)
}
.new-user:hover {
  cursor: pointer;
  color: rgb(15, 80, 153)
}

.nav-item-pad {
  padding-left: 10px;
  padding-right: 10px;
}

.empty-text {
  padding: 38px;
}

.table-header-section {
  margin-top: 50px;
}

.events-header {
  background-color: #eeeeee;
}

.events-title {
  color: black;
}

.our-story-div {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.our-story-header {
  padding: 40px;
}

.product-card-div {
  border: transparent;
}

.product-card-image {
  height: 300px;
  width: 300px;
}

.produt-card-text {
  text-align: left;
}

.rendered-view {
  background-color: #eeeeee
}

.product-view-container {
  background-color: white;
}

.close-icon-div {
  text-align: right;
}

.select-quantity {
  max-width: 260px;
  padding-bottom: 4px;
}

.add-btn {
  max-width: 260px;
}
